#navbar{
    background-image: url('https://demo.templateflip.com/awesome-app/images/home-image.jpg');
}
#ul li a{
    color: white;
}
#scndpage{
    background-image: url('https://demo.templateflip.com/awesome-app/images/home-image.jpg');
    color: white;
}
.card{
    border: 1px solid white !important; 
}
#carouselExampleControls{
    padding: 10px 100px;
   
}
#fthpage{
    background-color: #F5FAFD;
}
#sthpage{
 padding: 30px 30px;
 text-align: center;
}
#svnpage{
    padding: 30px 30px;
 text-align: center; 
}
#egthpage{
    padding: 0px 30px;
 text-align: center; 
 background-image: url('https://demo.templateflip.com/awesome-app/images/home-image.jpg');
}

